* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: sans-serif;
    color:#333;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.controls {
    position: fixed;
    z-index: 9;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 70px 50px;
    grid-template-rows: 70px 50px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.controls>div {
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ffffffcc;
    border-radius:24px;
    height: 48px;
    padding:4px;
    box-shadow: inset 2px 2px 7px 0px #00000055;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #ffffff33;
    background: #ffffffcc;
    padding:4px;
    border-radius:24px;
    height: 48px;
    box-shadow: inset 2px 2px 7px 0px #00000055;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -0px;
    /* Centers thumb on the track */
    background-color: #777;
    border-radius:100%;
    height: 40px;
    width: 40px;

    box-shadow: 2px 2px 7px 0px #00000055;
}

.controls input {
    position: absolute;
    width: 198px;
    height: 48px;
}

.angle-block {
    grid-area: 1 / 2 / 2 / 3;
}

.angle-block input {
    bottom: 0;
    right: -75px;
    bottom: 75px;
    transform: rotate(-90deg);
}

.wind-block {
    grid-area: 2 / 1 / 3 / 2;
    right:130px;
}

.input-block label {
    display: block;
}

.input-block {}

.score {
    padding: 1rem;
    background-color: #ffffff88;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.firebtn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 0px solid #f00;
    background-color: #f00;
    font-size: 18px;
    box-shadow: 2px 2px 5px 0px #00000099;
    z-index:2;

    background: rgb(255, 113, 113);
    background: radial-gradient(circle, rgba(255, 163, 163, 1) 0%, rgba(255, 0, 0, 1) 52%, rgba(7, 0, 0, 1) 100%);

    color: #fff;
    font-weight: bold;
    transition: transform 0.2s;
}

.resetbtn {

    border-radius: 100%;
    border: 0 solid transparent;
    background-color: #5c5;
    box-shadow: 2px 2px 5px 0px #00000099;
    background: rgb(255, 113, 113);
    background: radial-gradient(circle, rgba(133, 220, 133, 1) 0%, rgba(0, 200, 0, 1) 52%, rgba(0, 7, 0, 1) 100%);
    width: 40px;
    color: black;
    font-size: 8px;
    height: 40px;
}

.infobtn {
    display:block;
    position:fixed;
    right:20px;
    top:20px;
    z-index: 11;
    border-radius:100%;
    width:40px;
    height:40px;
    border:0 solid transparent;
    background-color:#5c5;
    color:white;
    font-size:1.5rem;
}

.modal {
    display:flex;
    position:fixed;
    width:90vw;
    height:90vh;
    text-align:center;
    z-index:10;
    background-color:#ffffffdd;
    backdrop-filter: blur(10px);
    top:5vh;
    left:4vw;
    padding:2rem;
    box-sizing: border-box;
    transform: translateY(-100vh);
    transition: all ease-in-out 0.35s;
    justify-content: center;
    align-items: center;
}
.visible {
    transform: translateY(0);
}

.modal h1 {
    font-size:2rem;
    margin-bottom:1rem;
    color:#5c5;
}

.modal p {
    font-size:1rem;
    margin-bottom:1rem;
}
.modal ul {
    margin-bottom:2rem;
    list-style-type: none;
}
.modal li {
    margin-bottom:0.5rem;
    font-size:0.8rem;
}
.modal h3 {
    font-size:1.25rem;
    margin-bottom:1rem;
}
.closebtn {
    padding:0.5rem 1rem;
    background-color:#5c5;
    color:white;
    border:0;
    border-radius:5px;
    cursor:pointer;
    font-size:1rem;
    transition: background-color 0.2s;
    margin-bottom:1rem;
}
.bullet-container {
    flex-direction: column;
    gap:0.5rem;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    position: fixed;
    left:20px;
    top:20px;
    z-index:3;
    width:20px;
    min-height:200px;
    justify-content: flex-start;
}
.bullet {
    width:1.5rem;
    height:1.5rem;
    border-radius:100%;
    background-color:#333;
    margin:0 5px;
    cursor:pointer;
    transition: transform 0.2s;


  background: radial-gradient(circle at 65% 15%, white 1px, #ccc 3%, #333 60%, #ccc 100%);  
}
#bulletCounter {
    color:#333;
    font-weight:bold;
    font-size:2rem;
    transition: all ease-in-out 0.2s;
}
#bulletCounter.big {
    font-size:4rem;
    color:#f00;
}

#multiplier {
    transition: all ease-in-out 0.2s;
}
#multiplier.big {
    font-size:2rem;
    color:#f00;
}

@media only screen and (min-width: 600px) {

.mobile {
    display:none;
}
}
@media only screen and (max-width: 600px) {
    .desktop {
        display:none;
    }
}